:host {
  flex: 1;
  padding: var(--padding);
}

:host .section {
  margin: calc(var(--padding) * 2) 0;
}
:host .header-container {
  display: flex;
  justify-content: space-between;
  margin-top: 0;
}

:host .avatar-container {
  flex: 1;
  display: flex;
}
