:host {
  flex: 1;
  display: flex;
  max-width: 100%;
  overflow-y: hidden;
}

:host ul li:nth-child(n) {
  animation-duration: calc(3 * var(--speed));
  animation-delay: calc(1500ms * n);
  animation-name: showItems;
  /* transform: translateY(calc(10px + n)); */
}

@keyframes showItems {
  from {
    opacity: 0;
    transform: translateY(20%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
