<div class="search-container">
    <app-button-icon [iconName]="'search'" [width]="25" [height]="25" [stroke]="'var(--green-b)'" (click)="onSearchInputChange(searchinput)"></app-button-icon>
    <input #searchinput type="text" placeholder="Search" (input)="onSearchInputChange($event.target)">
</div>

<div class="types-container">
    <h3>Types</h3>
    <div class="button-types-container">
        
        <app-button-type
            [type]="'restaurant'"
            [text]="'restaurant'"
            [baseColor]="'var(--green-a)'"
            [toggleColor]="'var(--white)'">
        </app-button-type>

        <app-button-type
            [type]="'farm'"
            [text]="'farm'"
            [baseColor]="'var(--green-a)'"
            [toggleColor]="'var(--white)'">
        </app-button-type>
        
        <app-button-type
            [type]="'market'"
            [text]="'market'"
            [baseColor]="'var(--green-a)'"
            [toggleColor]="'var(--white)'">
        </app-button-type>
        
        <app-button-type
            [type]="'other'"
            [text]="'other'"
            [baseColor]="'var(--green-a)'"
            [toggleColor]="'var(--white)'">
        </app-button-type>
    </div>
</div>

<div class="results-container">
    <h3>Results</h3>
    <div class="placeholder" [ngStyle]="{'display':searchResults.length > 0?'none':'initial'}">No results</div>
    <div class="search-results-container">
        <app-site-card-mini *ngFor="let site of searchResults" [siteData]="site" (click)="onMiniCardClick(site.id)"></app-site-card-mini>
    </div>
</div>
