<app-input-icon
    [icon]="'search'"
    [iconStroke]="'var(--green-b)'"
    [placeholder]="'Search'"
    (onInputEvent)="onSearchInputChange($event)">
</app-input-icon>

<div class="types-container">
    <h3>Types</h3>
    <div class="button-types-container">
        
        <app-button-type
            [type]="'restaurant'"
            [text]="'restaurant'"
            [baseColor]="'transparent'"
            [toggleColor]="'var(--white)'">
        </app-button-type>

        <app-button-type
            [type]="'farm'"
            [text]="'farm'"
            [baseColor]="'transparent'"
            [toggleColor]="'var(--white)'">
        </app-button-type>
        
        <app-button-type
            [type]="'market'"
            [text]="'market'"
            [baseColor]="'transparent'"
            [toggleColor]="'var(--white)'">
        </app-button-type>
        
        <app-button-type
            [type]="'other'"
            [text]="'other'"
            [baseColor]="'transparent'"
            [toggleColor]="'var(--white)'">
        </app-button-type>
    </div>
</div>

<div class="results-container">
    <h3>Results</h3>
    <div class="placeholder" [ngStyle]="{'display':searchResults.length > 0?'none':'initial'}">No results</div>
    <div class="search-results-container">
        <app-site-card-mini *ngFor="let item of searchResults" [siteData]="item" [routerLink]="['/detail', item.id]"></app-site-card-mini>
    </div>
</div>
