/* :host img {
  height: auto;
  margin: 0;
  display: inline-block;
} */
:host img {
  width: 100%;
  height: auto;
  max-height: 218px;
  margin: 0;
  padding: 0;
  display: inline-block;
}

:host .gallery-images-container {
  position: relative;
  display: block;
  width: 100%;
  max-height: 218px;
  overflow: hidden;
}

:host .gallery-controls {
  position: absolute;
  inset: 0;
  display: flex;
}
:host .gallery-controls-btn {
  flex: 1;
}

:host .hidden {
  display: none;
}
