:host {
  position: relative;
  overflow: auto;
}

:host .gallery-images-container {
  position: relative;
  display: flex;
  width: 100%;
  height: 218px;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
:host .gallery-item {
  width: 100%;
  height: auto;
  max-height: 218px;
  margin: 0;
  padding: 0;
  display: block;
  position: absolute;
}
:host .gallery-item img {
  margin: 0;
  width: 100%;
  height: 100%;
}
:host .gallery-image-container .current-image {
  display: block !important;
}

:host .gallery-controls {
  position: absolute;
  inset: 0;
  display: flex;
}
:host .gallery-controls-btn {
  flex: 1;
}

:host .hidden {
  display: none;
}
