:host {
  flex: 1;
  max-height: 60px;
  display: flex;
}

#navbar-container {
  flex: 1;
  display: flex;
  justify-content: space-around;
  align-items: center;

  animation-duration: var(--speed);
  animation-fill-mode: forwards;
  animation-name: shownavbar;
}

:host app-button-icon {
  height: 100%;

  transform: translateY(100%);
  animation-duration: var(--speed);
  animation-fill-mode: forwards;
  animation-name: shownavbar;
}
#navbar-container app-button-icon.selected {
  animation-fill-mode: none;
  transform: translateY(0) scale(1.1);
  stroke: var(--yellow);
}

#navbar-container app-button-icon:nth-child(1) {
  animation-delay: 0.05s;
}
#navbar-container app-button-icon:nth-child(2) {
  animation-delay: 0.15s;
}
#navbar-container app-button-icon:nth-child(3) {
  animation-delay: 0.25s;
}
#navbar-container app-button-icon:nth-child(4) {
  animation-delay: 0.35s;
}

#navbar-container.hidden {
  animation-name: hidenavbar;
  animation-delay: 0.08s;
}

#navbar-container.hidden app-button-icon {
  animation-name: hidenavbar;
  animation-delay: 0s;
}

@keyframes shownavbar {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes hidenavbar {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(100%);
  }
}
