<div id="navbar-container" [ngClass]="{'hidden':!isVisible}">

  <app-button-icon [icon]="'home'" [width]="32" [height]="32"
    [ngClass]="{ selected: currentView == 'home' }" routerLink="/home"></app-button-icon>
 
  <app-button-icon [icon]="'search'" [width]="32" [height]="32"
    [ngClass]="{ selected: currentView == 'search' }" routerLink="/search"></app-button-icon>

  <app-button-icon [icon]="'add'" [width]="32" [height]="32"
    [ngClass]="{ selected: currentView == 'add' }" routerLink="/add"></app-button-icon>

  <app-button-icon [image]="'https://firebasestorage.googleapis.com/v0/b/biomap-2f3d1.appspot.com/o/files%2Favatar.jpeg?alt=media&token=24faacff-59f4-4bd2-9a30-1ad1a403276f'" [width]="32" [height]="32"
    [ngClass]="{ selected: currentView == 'profile' }" routerLink="/profile"></app-button-icon>
  
</div>