:host {
  flex: 1;
  display: grid;
  max-width: 100%;
  grid-template-rows: 48px calc(100% - 48px);
  grid-template-columns: 100%;
  overflow: hidden;
  background-color: var(--green-d);
}

#modes-container {
  display: grid;
  flex: 1;
  grid-template-columns: 50% 50%;
  width: 200%;
  transition: transform var(--speed) ease;
}
