:host {
  flex: 1;
  overflow: hidden;
  overflow-y: scroll;
  padding-bottom: 72px;
}

#detail-description-container {
  display: grid;
  grid-template-areas:
    "title title"
    "type rate"
    "img img"
    "desc desc"
    "date date";
  animation-duration: var(--speed);
  animation-fill-mode: forwards;
}
#detail-description-container.initialized {
  animation-name: zoomin;
}

#detail-title {
  display: flex;
  justify-content: space-between;
  grid-area: title;
}
#detail-description-container h2 {
  color: var(--green-a);
  font-size: 24px;
  margin: var(--padding);
}

#detail-description-container button {
  padding: var(--padding);
  justify-self: flex-end;
}
#detail-description-container label {
  color: var(--green-b);
  font-size: 20px;
  grid-area: type;
  margin: 0 var(--padding);
}
#detail-description-container app-rate {
  display: flex;
  grid-area: rate;
  height: 18px;
  align-self: center;
  justify-self: flex-end;
  margin: 0 var(--padding);
  width: 100%;
  gap: var(--padding);
  justify-content: flex-end;
}
#detail-description-container img {
  grid-area: img;
  width: 100%;
  height: auto;
  margin: var(--padding) 0;
}

#detail-description-container p {
  grid-area: desc;
  font-size: 15px;
  margin: 0 var(--padding);
  font-weight: 400;
  color: var(--font-color);
}

#detail-description-container .date {
  grid-area: date;
  margin: var(--padding);
  color: var(--green-b);
  justify-self: flex-end;
  font-size: 13px;
}

#detail-contacts-container {
  position: relative;
  margin-top: var(--padding);
}
#detail-contacts-container p {
  padding: var(--padding);
  font-size: 14pt;
  color: var(--green-b);
  text-align: right;
}
#detail-map-button {
  width: 48px;
  height: 48px;
  position: absolute;
  top: var(--padding);
  right: var(--padding);
}
#detail-networks-container {
  display: flex;
  max-height: 48px;
  padding: var(--padding);
}
#detail-networks-container button {
  padding: 5px;
  width: 48px;
  height: 48px;
}

#detail-reviews-container {
  margin-top: var(--padding);
  padding: var(--padding);
  display: flex;
  flex-direction: column;
}

#card-review-container {
  grid-area: reviews;
}
#card-review-container.hidden {
  display: none;
}

#detail-reviews-container span {
  font-size: 13px;
  color: var(--green-c);
}
#detail-reviews-button {
  grid-area: expand;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#detail-reviews-button h3 {
  font-weight: 400;
  grid-area: title;
  font-size: 22px;
  color: var(--green-b);
  margin-bottom: 6px;
}
#detail-reviews-button.toggled svg {
  transform: rotate(180deg);
}
#write-review-button {
  display: flex;
  align-items: flex-end;
  grid-area: write;
  text-align: left;
  height: var(--button-size);
  align-self: flex-end;
  color: var(--green-b);
  font-size: 18px;
  width: 100%;
}
#write-review-button svg {
  margin-right: var(--padding);
}
:host.hidden {
  display: none !important;
  animation-name: none !important;
}
