<form [formGroup]="form">
    <div class="form-group">
        <label>Title</label>
        <input class="form-control" type="text" placeholder="Type the title" formControlName="title" (input)="onTitleInput($event)">
    </div>
    <div class="form-group">
        <label>Description</label>
        <textarea class="form-control" type="text" placeholder="Type the description (max 200 words)" formControlName="description" (input)="onDescriptionInput($event)"></textarea>
    </div>
    <div id="type-radios" class="form-group">
        <label id="type-radios-title">Type</label>
        <div id="radio-farm-button" [ngClass]="toggleType == 'farm' ? 'input-container toggled' : 'input-container'" (click)="onRadioButtonClick('farm')">
            <svg width="36px" height="50px" viewBox="0 0 18 25" fill="var(--red)">
                <path
                    d="m 8.999975,0 c 4.959375,0 8.978906,4.0320312 8.978906,9.0046875 0,0 0,10.8523435 -8.978906,15.9953125 C 0.02106875,19.857031 0.02106875,9.0046875 0.02106875,9.0046875 0.02106875,4.0320312 4.0406,0 8.999975,0 Z" />
            </svg>
            <input type="radio" value="farm" name="type" formControlName="type" checked>
            <label style="color:var(--red)">farm</label>
        </div>
        <div id="radio-market-button" [ngClass]="toggleType == 'market' ? 'input-container toggled' : 'input-container'" (click)="onRadioButtonClick('market')">
            <svg width="36px" height="50px" viewBox="0 0 18 25" fill="var(--blue)">
                <path
                    d="m 8.999975,0 c 4.959375,0 8.978906,4.0320312 8.978906,9.0046875 0,0 0,10.8523435 -8.978906,15.9953125 C 0.02106875,19.857031 0.02106875,9.0046875 0.02106875,9.0046875 0.02106875,4.0320312 4.0406,0 8.999975,0 Z" />
            </svg>
            <input type="radio" value="market" name="type" formControlName="type">
            <label style="color:var(--blue)">market</label>
        </div>
        <div id="radio-restaurant-button" [ngClass]="toggleType == 'restaurant' ? 'input-container toggled' : 'input-container'" (click)="onRadioButtonClick('restaurant')">
            <svg width="36px" height="50px" viewBox="0 0 18 25" fill="var(--brown)">
                <path
                    d="m 8.999975,0 c 4.959375,0 8.978906,4.0320312 8.978906,9.0046875 0,0 0,10.8523435 -8.978906,15.9953125 C 0.02106875,19.857031 0.02106875,9.0046875 0.02106875,9.0046875 0.02106875,4.0320312 4.0406,0 8.999975,0 Z" />
            </svg>
            <input type="radio" value="restaurant" name="type" formControlName="type">
            <label style="color:var(--brown)">restaurant</label>
        </div>
        <div id="radio-other-button"[ngClass]="toggleType == 'other' ? 'input-container toggled' : 'input-container'" (click)="onRadioButtonClick('other')">
            <svg width="36px" height="50px" viewBox="0 0 18 25" fill="var(--green-c)">
                <path d="m 8.999975,0 c 4.959375,0 8.978906,4.0320312 8.978906,9.0046875 0,0 0,10.8523435 -8.978906,15.9953125 C 0.02106875,19.857031 0.02106875,9.0046875 0.02106875,9.0046875 0.02106875,4.0320312 4.0406,0 8.999975,0 Z" />
            </svg>
            <input type="radio" value="other" name="type" formControlName="type">
            <label style="color:var(--green-c)">other</label>
        </div>
            
            
        <!-- <button id="radio-market-button" (click)="onRadioClick('market')"></button>
        <button id="radio-restaurant-button" (click)="onRadioClick('restaurant')"></button>
        <button id="radio-other-button" (click)="onRadioClick('other')"></button> -->
    </div>
</form>