:host {
  flex: 1;
  display: flex;
  overflow: hidden;
  flex-direction: column;
}

:host h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 48px;
  flex: 1;
  background-color: var(--brown);
  font-weight: 500;
  text-transform: uppercase;
  color: var(--green-e);
  font-size: 22pt;
  animation-duration: var(--speed);
  animation-fill-mode: forwards;
}
:host h2.initialized {
  animation-name: fadein;
}

#steps-container {
  display: inline-flex;
  flex: 1;
  width: calc(100% * var(--num-steps));
  animation-duration: var(--speed);
  animation-fill-mode: forwards;
  transition: transform var(--speed) ease-in-out;
  overflow: hidden;
}
#steps-container.initialized {
  animation-name: fadein;
}
.step {
  position: relative;
  display: inline-flex;
  flex: 1;
  max-width: calc(100% / var(--num-steps));
  height: 100%;
  overflow-y: scroll;
}

input.hidden {
  position: absolute;
  opacity: 0;
  top: 0;
  pointer-events: none;
}

#step2,
#step3 {
  flex: 1;
  display: block;
}

#step3 .network-container {
  display: flex;
  flex: 1;
  padding: var(--padding) 0;
}
#step3 .network-container input {
  margin-left: var(--padding);
}

#steps-controller {
  display: grid;
  grid-template-areas: "prev stepnum next";
  grid-template-columns: 33% 34% 33%;
  align-items: stretch;
  justify-items: stretch;
  flex: 1;
  max-height: 48px;
  background-color: var(--brown);
  animation-duration: var(--speed);
  animation-fill-mode: forwards;
}
#steps-controller.initialized {
  animation-name: showup;
}
#steps-controller .disabled {
  pointer-events: none;
  opacity: 0.5;
}
#prev-step {
  grid-area: prev;
}
#controller-text {
  grid-area: stepnum;
  font-size: 18pt;
  color: var(--green-e);
  align-self: center;
  justify-self: center;
}
#next-step {
  grid-area: next;
}

#steps-controller .hidden {
  display: none;
}

#step4 {
  position: relative;
  display: grid !important;
  align-items: center;
  justify-items: center;
}
#step4 p {
  font-size: 18px;
  color: var(--green-c);
}

#step4 .actions-container {
  position: absolute;
  display: flex;
  left: var(--padding);
  bottom: var(--padding);
}

#step4 .actions-container button {
  background-color: var(--green-b);
  border-radius: 50%;
  padding: 8px;
  width: 38px;
  height: 38px;
  margin-right: var(--padding);
}

#step4 input[type="file"] {
  display: none;
}
#thumbs-container {
  flex: 1;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: 33% auto 33%;
  grid-template-columns: 33% auto 33%;
  grid-gap: 5px;
  justify-items: center;
  align-items: center;
}

#thumbs-container .thumb-item {
  position: relative;
  display: flex;
}

#thumbs-container img {
  flex: 1;
  width: 100%;
  height: fit-content;
}

#thumbs-container .delete-thumb {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 3px;
  right: 3px;
  background-color: var(--red);
  padding: 5px;
  border-radius: 50%;
}

#step4 .hide {
  display: none;
}

#step5 {
  display: block;
  flex: 1;
  overflow-y: scroll;
}

#step5 .review-group {
  display: flex;
  flex-direction: column;
  padding: var(--padding) 0;
}

#step5 .review-group label {
  font-size: 18pt;
  color: var(--green-b);
  margin-bottom: 6px;
  padding: 0 var(--padding);
}

#step5 .review-group p {
  font-size: 14pt;
  padding: 0 var(--padding);
}

#step5 .networks-container {
  padding: var(--padding);
}
#step5 .networks-container svg {
  margin-right: 10px;
}
