:host {
  flex: 1;
  display: flex;
  justify-content: space-around;
  max-height: 48px;
  background-color: var(--green-c);

  animation-duration: var(--speed);
  animation-delay: var(--speed);
  animation-name: showhomebar;
  animation-fill-mode: forwards;
}

:host app-button-icon {
  fill: var(--green-a);
}

:host app-button-icon.selected {
  pointer-events: none;
  transform: scale(1.1);
  fill: var(--white);
}

@keyframes showhomebar {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0%);
  }
}
