<div class="header-container section">
    <h2>Write a review</h2>
    <app-button-icon 
      [iconName]="'cross'" 
      [width]="20" 
      [height]="20" 
      [stroke]="'var(--green-a)'" 
      routerLink="{{'/detail/' + siteID}}" >
    </app-button-icon>
</div>
<div class="rating-container section">
    <h3>Rating</h3>
    <app-rating class="enabled"
    [rating]="0"
    [starSize]="28"
    [enabled]="true"
    (onRateChange)="onRateChange($event)"></app-rating>
</div>
<div class="review-container section">
    <h3>Review</h3>
    <textarea placeholder="Max. 200 characters"></textarea>
    <app-button-action
        [icon]="'check'"
        [iconWidth]="25"
        [iconHeight]="18"
        [iconStroke]="'var(--white)'">
    </app-button-action>
</div>
