#button-add {
  width: 56px;
  height: 56px;
  padding: 13px;
  border-radius: 50%;
  background-color: var(--green-b);
  position: absolute;
  bottom: var(--padding);
  right: var(--padding);
}

#button-add.hide {
  display: none;
}
