:host {
  position: relative;
  display: flex;
  flex: 1;
  padding: var(--padding) 0;
}

:host p {
  color: var(--green-b);
  font-size: 20px;
  text-transform: capitalize;
}

#lang-container {
  display: flex;
  flex: 1;
  padding: var(--padding) 0;
  justify-content: space-between;
}

#lang-container:active {
  transform: scale(0.99);
}

.icons-container {
  max-width: 48px;
}

:host .hide {
  display: none;
}
