:host {
  flex: 1;
  display: flex;
  height: 32px;
  padding: var(--padding) 0;
}

:host .checkbox-container {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
:host .checkbox-container:active {
  transform: scale(0.99);
}

:host p {
  color: var(--green-b);
  font-size: 20px;
  text-transform: capitalize;
}
