<div id="list-modes" [ngClass]="{'initialized' : initialized}">
    <button [ngClass]="{'toggled': currentMode==='list'}" (click)="onModeClick('list')">
        <svg width="32" height="32" viewBox="0 0 128 128" fill="var(--green-b)">
            <path
                d="m 119.9998,112.05708 c 4.4161,0 8.0002,-3.584 8.0002,-8 0,-4.416 -3.5841,-8 -8.0002,-8 H 32.0002 c -4.4161,0 -8.0002,3.584 -8.0002,8 0,4.416 3.5841,8 8.0002,8 z" />
            <path
                d="m 8,96.05708 c -4.4154,0 -8,3.584 -8,8 0,4.416 3.5846,8 8,8 4.4154,0 8,-3.584 8,-8 0,-4.416 -3.5846,-8 -8,-8 z" />
            <path
                d="M 119.9998,72 C 124.4159,72 128,68.416 128,64 c 0,-4.416 -3.5841,-8 -8.0002,-8 H 32.0002 C 27.5841,56 24,59.584 24,64 c 0,4.416 3.5841,8 8.0002,8 z" />
            <path
                d="m 8,56 c -4.4154,0 -8,3.584 -8,8 0,4.416 3.5846,8 8,8 4.4154,0 8,-3.584 8,-8 0,-4.416 -3.5846,-8 -8,-8 z" />
            <path
                d="m 119.9998,31.94292 c 4.4161,0 8.0002,-3.584 8.0002,-8 0,-4.416 -3.5841,-8 -8.0002,-8 H 32.0002 c -4.4161,0 -8.0002,3.584 -8.0002,8 0,4.416 3.5841,8 8.0002,8 z" />
            <path
                d="m 8,15.94292 c -4.4154,0 -8,3.584 -8,8 0,4.416 3.5846,8 8,8 4.4154,0 8,-3.584 8,-8 0,-4.416 -3.5846,-8 -8,-8 z" />
        </svg>

    </button>
    <button [ngClass]="{'toggled': currentMode==='map'}" (click)="onModeClick('map')">
        <svg width="32" height="32" viewBox="0 0 92 128" fill="var(--green-b)">
            <path
                d="M 45.918,128 C 31.872,127.848 0,89.912 0,46.105 0,20 20,0 46,0 72,0 92,20 92,46.105 92,90 60,128 46,128 Z" />
        </svg>
    </button>
    <button (click)="onFilterClick()">
        <svg width="32" height="32" viewBox="0 0 128 128" fill="var(--green-b)">
            <path
                d="M 9.6,76.8 H 8 c -4.416,0 -8,3.584 -8,8 0,4.416 3.584,8 8,8 H 9.6 V 120 c 0,4.416 3.584,8 8,8 4.416,0 8,-3.584 8,-8 V 92.8 h 1.6 c 4.416,0 8,-3.584 8,-8 0,-4.416 -3.584,-8 -8,-8 H 25.6 V 8 c 0,-4.416 -3.584,-8 -8,-8 -4.416,0 -8,3.584 -8,8 z" />
            <path
                d="m 102.4,76.8 h -1.6 c -4.416,0 -8,3.584 -8,8 0,4.416 3.584,8 8,8 h 1.6 V 120 c 0,4.416 3.584,8 8,8 4.416,0 8,-3.584 8,-8 V 92.8 h 1.6 c 4.416,0 8,-3.584 8,-8 0,-4.416 -3.584,-8 -8,-8 h -1.6 V 8 c 0,-4.416 -3.584,-8 -8,-8 -4.416,0 -8,3.584 -8,8 z" />
            <path
                d="m 56,51.2 h -1.6 c -4.416,0 -8,-3.584 -8,-8 0,-4.416 3.584,-8 8,-8 H 56 V 8 c 0,-4.416 3.584,-8 8,-8 4.416,0 8,3.584 8,8 v 27.2 h 1.6 c 4.416,0 8,3.584 8,8 0,4.416 -3.584,8 -8,8 H 72 V 120 c 0,4.416 -3.584,8 -8,8 -4.416,0 -8,-3.584 -8,-8 z" />
        </svg>
    </button>
</div>
<div id="modes-container" [ngClass]="{'initialized' : initialized}" [ngStyle]="{'transform': currentMode==='list' ? 'translateX(0)' : 'translateX(-50%)'}">
    <ul id="list-cards">
        <li *ngFor="let site of sitesData">
            <app-site-card class="shadowed" [siteData]="site" (click)="onCardClick(site.id)"></app-site-card>
        </li>
    </ul>

    <div id="list-map">
        <app-site-map [mapType]="'maplist'" [mapData]="mapsData"></app-site-map>
    </div>
</div>

<div id="types-filter-container" [ngClass]="{'hidden':!isFiltersOpen}">
    <div class="background" (click)="onFilterBackgroundClick()"></div>
    <div class="filters-container">
        <h2>Filter</h2>
        <div id="radio-farm-button" class="type-button" (click)="onFilterTypeClick('farm')" >
            <svg width="32" height="32" viewBox="0 0 92 128" fill="var(--red)">
                <path
                    d="M 45.918,128 C 31.872,127.848 0,89.912 0,46.105 0,20 20,0 46,0 72,0 92,20 92,46.105 92,90 60,128 46,128 Z" />
            </svg>
            <input type="radio" value="farm" checked> 
            <label>Farm</label> 
        </div>
        <div id="radio-market-button" class="type-button" (click)="onFilterTypeClick('market')">
            <svg width="32" height="32" viewBox="0 0 92 128" fill="var(--blue)">
                <path
                    d="M 45.918,128 C 31.872,127.848 0,89.912 0,46.105 0,20 20,0 46,0 72,0 92,20 92,46.105 92,90 60,128 46,128 Z" />
            </svg>
            <input type="radio" value="market"> 
            <label>Market</label> 
        </div>
        <div id="radio-restaurant-button" class="type-button" (click)="onFilterTypeClick('restaurant')">
            <svg width="32" height="32" viewBox="0 0 92 128" fill="var(--brown)">
                <path
                    d="M 45.918,128 C 31.872,127.848 0,89.912 0,46.105 0,20 20,0 46,0 72,0 92,20 92,46.105 92,90 60,128 46,128 Z" />
            </svg>
            <input type="radio" value="restaurant"> 
            <label>Restaurant</label> 
        </div>
        <div id="radio-other-button" class="type-button" (click)="onFilterTypeClick('other')">
            <svg width="32" height="32" viewBox="0 0 92 128" fill="var(--green-c)">
                <path
                    d="M 45.918,128 C 31.872,127.848 0,89.912 0,46.105 0,20 20,0 46,0 72,0 92,20 92,46.105 92,90 60,128 46,128 Z" />
            </svg>
            <input type="radio" value="other">
            <label>Other</label> 
        </div>
    </div>
</div>
    