:host {
  display: grid;
  grid-template-areas:
    "avatar rate"
    "text text"
    "date date";
  grid-template-rows: 32px auto;
  grid-template-columns: 32px 50%;
  padding: var(--padding);
  background-color: white;
  flex: 1;
  grid-gap: var(--padding);
  margin-top: var(--padding);
  align-items: center;
  justify-content: space-between;
}
/* :host img {
  grid-area: avatar;
} */
:host svg {
  grid-area: avatar;
}
:host app-rate {
  grid-area: rate;
  display: flex;
  justify-content: flex-end;
  max-height: 18px;
  max-width: 150px;
  justify-self: flex-end;
}
:host p {
  grid-area: text;
  font-size: 12pt;
  color: var(--font-color);
}
:host .date {
  grid-area: date;
  font-size: 12pt;
  color: var(--green-c);
}
