:host {
  flex: 1;
  display: flex;
  padding: var(--padding);
}

#add-review-container {
  display: block;
  flex: 1;
  animation-duration: var(--speed);
  animation-fill-mode: forwards;
}

#add-review-container.initialized {
  animation-name: zoomin;
}
#add-review-container label {
  color: var(--green-b);
  font-size: 20px;
  margin: var(--padding) 0;
}
#add-review-container app-rate {
  display: flex;
  height: 18px;
  margin: var(--padding) 0;
  gap: var(--padding);
  margin-bottom: 40px;
}

#add-review-container textarea {
  width: 100%;
}

#add-review-container .actions-container {
  display: flex;
  height: 48px;
  gap: var(--padding);
  margin: var(--padding) 0;
}
.actions-container button {
  padding: var(--padding);
  width: 25%;
  border-radius: 2px;
}

#cancel-button {
  background-color: var(--red);
}
#save-button {
  background-color: var(--blue);
}
