:host {
  position: relative;
  display: flex;
  align-items: center;
}

:host label {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  padding-left: 5px;
}
:host div {
  display: flex;
}

:host svg {
  background-color: red;
}
