:host {
  display: grid;
  grid-template-areas:
    "title title"
    "type rate"
    "img img"
    "desc desc"
    "date date";
  margin-bottom: 38px;
  padding: 0 var(--padding);
  background-color: white;
}
:host:active {
  transform: scale(0.95);
}

:host h2 {
  color: var(--green-a);
  font-size: 24px;
  grid-area: title;
  margin: var(--padding) 0;
}
:host label {
  color: var(--green-b);
  font-size: 20px;
  grid-area: type;
  /* margin: 0 var(--padding); */
}
:host app-rate {
  display: flex;
  grid-area: rate;
  height: 18px;
  align-self: center;
  justify-self: flex-end;
  /* margin: 0 var(--padding); */
  width: 100%;
  gap: var(--padding);
  justify-content: flex-end;
}
:host img {
  grid-area: img;
  width: 100%;
  height: auto;
  margin: var(--padding) 0;
}
:host p {
  grid-area: desc;
  font-size: 15px;
  /* margin: 0 var(--padding); */
  font-weight: 400;
  color: var(--font-color);
}
:host .date {
  grid-area: date;
  margin: var(--padding) 0;
  color: var(--green-b);
  font-size: 13px;
}
